/* ModalEditar.css */

/* El fondo oscuro que cubre toda la pantalla */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;          
}

/* La caja blanca del formulario */
.modal-content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Ordenamos los inputs del formulario en columna */
.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.modal-content label {
  font-weight: 600;
  color: #333;
  margin-bottom: -10px;
}

/* Los botones de abajo */
.modal-acciones {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 25px;
}

button {
    background-color: #0f172a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
