JWT_SECRET=change-this-secret-in-production
ML_SERVICE_URL=http://ml-service:5000

# URL base OCI ML
# Ejemplo: <region>.oraclecloud.com/p/<token>/n/<namespace>/b/<bucket>/o/
OCI_BASE_URL=
OCI_ARTEFACTOS_PATH=clasificacion-gastos/artefactos_categoria.pkl
OCI_MODELO_CATEGORIA_PATH=clasificacion-gastos/modelo_categoria_full.keras
OCI_MODELO_RIESGO_PATH=clasificacion-perfil/modelo_riesgo_financiero.pkl
